#albums {
	width: 90%;
}

#photos {
    background: none repeat scroll 0 0 #EAEAEA;
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    max-width: 1024px;
}

.photo {
    display: inline-block;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    margin: 0 20px 10px;
	padding: 28px 12px;
    position: relative;
}

.photo:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    transition-duration: 0.1s;
}

#updateAjaxDiv {
    padding-bottom: 10px;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
    background: url("../images/button-sprite.png") repeat-x scroll 0 0 #EAEAEA;
    border: 1px solid #999999;
    color: #000000;
    font-family: helvetica,Arial,Sans-Serif;
    height: 26px;
    margin-right: 10px;
    outline: medium none;
    padding: 2px 8px;
    text-decoration: none;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .button:hover {
    background-color: #DCDCDC;
    background-position: 0 -50px;
}

.ksb {
    background-repeat: repeat-x;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    width: 370px !important;
}